body {
  text: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.leaflet-container {
  height: calc(88vh - 300px);
  width: 100%;
}

#quake-list-container {
  border-top: 5px solid #222;
  height: 300px;
  width: 100%;
  margin: auto;
  overflow-y: scroll;
  text-align: center;
  color: #222;
  background-color: #ddd;
}
